# Dependencias
node_modules/

# Builds de producción
dist/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configs de entorno
.env
.env.local
.env.*.local

# Salida de editores / sistemas
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# Mac OS
*.DS_Store

# Tests cache
coverage/

# Otros caches
.cache/
